
.app-container{
display:flex;
height: 100vh;

}

.sidebar{
  width:300px;
  background-color: #dbd7d7;
  padding: 20px;
  border-right:1px solid #000;
  overflow-x: auto;
}

.main-content{
  flex:1;
  display: flex;
  flex-direction: column;
}

.toolbar{

  padding:10px;
  background-color: #d3d2d2;
  border-bottom: 1px solid #000;

}

.toolbar button{
  padding:20px;
  margin: 5px;
}

.file-viewer{
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.file-node{
  cursor:pointer;
  margin: 10px;
}
.child-nodes{
  padding-left:20px;

}

@media(max-width:750px){
  .sidebar{
  width:100px;
 
}
.toolbar button{
  padding:20px;
  margin: 5px;
}


}